@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body{
    font-family: 'Poppins', sans-serif;
}


img{
    max-width: 100%;
}



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #230eff0a;

    .header-contact{
      padding: 12px 0;
      background-color: #000;

      label{
        @media (max-width: 767px) {
          display: none;
        }
      }

      label, a{
        color: #fff;
        text-decoration: none;
      }

      a:not(:last-child){
        margin-right: 12px;

        @media (max-width: 767px) {
          margin-right: 30px;
        }
      }

      a{
        @media (max-width: 520px) {
          display: block;

          &:not(:last-child){
            margin-bottom: 10px;
          }
        }
      }

      svg{
        margin-right: 5px;
      }

      label{
        margin-right: 10px;
      }
    }

    nav.navbar{
        background-color: #fff;
        padding: 0;

        .navbar-brand img{
            max-width: 130px;
            padding: 10px;

            @media (max-width: 991px) {
              max-width: 100px;
            }
        }

        .nav-item{

            &:not(:last-child){
                margin-right: 30px;
            }

                .nav-link{
                    font-size: 17px;
                    font-weight: 500;
                    text-transform: uppercase;
                    min-height: 110px;
                    display: flex;
                    align-items: center;
                    border-bottom: 4px solid transparent;

                    img{
                      max-width: 15px;

                      margin: 10px;
                    }

                    @media (max-width: 991px) {
                      min-height: 50px;
                      border-bottom: 2px solid transparent;
                    }
        
                    &.active{
                        color: #3B3778;
                        border-bottom-color: #3B3778;
                        font-weight: 600;
                    }
                }
        }        
    }
}


.dropdown:hover{
  @media (min-width: 992px) {
    .dropdown-menu{
      display: block !important; 
    }
  }
}

.navbar-toggler{
  border-radius: 0;
  width: 50px;
  padding: initial;
  height: 40px;
  
  &:focus{
    box-shadow: none;
  }
}

.dropdown-menu{
    padding: 0;
    border-radius: 0;
    border: 0;

    .dropdown-item{
      padding: 15px;
      transition: all .3s;

      @media (max-width: 991px) {
        padding: 10px 20px;
      }

      &:hover{
        background-color: #3B3778;
        color: #fff;
      }
    }
}

// Slider Wrapper //
.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;
  }
  .slide-image {
    position: absolute;
    top: -200px;
    left: -200px;
    width: calc(100% + 400px);
    height: calc(100% + 400px);
    background-position: 50% 50%;
    background-size: cover;
  }
  .slide-title {
    font-size: 3rem;
    line-height: 1;
    max-width: 50%;
    white-space: normal;
    word-break: break-word;
    color: #FFF;
    z-index: 100;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
  }
  @media (min-width: 45em) {
    .slide-title {
      font-size: 115px;
      max-width: none;
    }
  }
  .slide-title span {
    white-space: pre;
    display: inline-block;
    opacity: 0;
  }
  
  .slideshow {
    position: relative;
  }
  .slideshow-pagination {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: .3s opacity;
    z-index: 10;
  }
  .slideshow-pagination-item {
    display: flex;
    align-items: center;
  }
  .slideshow-pagination-item .pagination-number {
    opacity: 0.5;
  }
  .slideshow-pagination-item:hover, .slideshow-pagination-item:focus {
    cursor: pointer;
  }
  .slideshow-pagination-item:last-of-type .pagination-separator {
    width: 0;
  }
  .slideshow-pagination-item.active .pagination-number {
    opacity: 1;
  }
  .slideshow-pagination-item.active .pagination-separator {
    width: 10vw;
  }
  .slideshow-navigation-button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5rem;
    z-index: 1000;
    transition: all .3s ease;
    color: #FFF;
    font-size: 25px;
  }
  .slideshow-navigation-button:hover, .slideshow-navigation-button:focus {
    cursor: pointer;
  }
  .slideshow-navigation-button.prev {
    left: 0;
  }
  .slideshow-navigation-button.next {
    right: 0;
  }
  
  .pagination-number {
    font-size: 1.8rem;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    padding: 0 0.5rem;
  }
  
  .pagination-separator {
    display: none;
    position: relative;
    width: 40px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
    transition: all .3s ease;
  }
  @media (min-width: 45em) {
    .pagination-separator {
      display: block;
    }
  }
  .pagination-separator-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    transform-origin: 0 0;
  }

  .slider-wrapper{
    .swiper-slide{
        min-height: 100vh;
    }
  }


  h2{
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    letter-spacing: 4.5px;
    color: #000;

    &::after{
        content: "";
        position: absolute;
        height: 3px;
        width: 60px;
        background: #3B3778;
        bottom: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
  }

  h3{
    font-size: 20px;
  }


  .about-company-wrapper{
    margin: 150px 0;

    @media (max-width: 991px) {
      margin: 70px 0;
    }

    .abot_item{
        h3{
            margin: 30px 0 10px 0;
        }

        p{
            color: #4b4b4b;
        }

        img{
            border-radius: 15px;
            padding: 10px;
            border: 2px solid #3b377812;
        }
    }
  }
  

  .why-choose-wrapper{
    margin: 150px 0;
    overflow: hidden;

    @media (max-width: 991px) {
      margin: 70px 0;
    }

    .why-choose-bg{
        background-image: url(../images/chemical-truck.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .why-choose-content{
        padding: 60px;

        @media (max-width: 991px) {
          padding: 0;
        }
    }


    h2{
        text-align: left;

        &::after{
            left: 0;
            right: auto;
        }
    }

    .why-choose_item{
        display: flex;

        &:not(:last-child){
            margin-bottom: 30px;
        }

        .img{
            min-width: 120px;

            img{
                max-width: 100px;
            }
        }

        .title{
            font-size: 20px;
            margin-bottom: 10px;
            font-weight: 600;
            display: block;
        }
    }
  }

.swiper-container{
  .light-button{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin-top: 100px;
    margin-left: -100px;

  }
}

.dropdown-toggle::after{
  display: none;
}

.about-company-wrapper{
  video{
    width: 100%;
  }
}

.light-button{
  color: #fff;
  padding: 15px;
  min-width: 150px;
  text-decoration: none;
  border: 1px solid #fff;
  background-color: #3B3778;
  transition: all .3s;
  text-transform: uppercase;
  text-align: center;

  &:hover{
    background-color: #3B3778;
    transform: scale(1.05);
  }
}


.dark-button{
  color: #fff;
  padding: 15px;
  min-width: 150px;
  text-decoration: none;
  border: 1px solid #fff;
  background-color: #3B3778;
  transition: all .3s;
  text-transform: uppercase;
  text-align: center;

  &:hover{
    background-color: #3B3778;
    transform: scale(1.05);
  }
}

.our-product-wrapper{
  .product-item{
    position: relative;

    .product-disc{
    position: absolute;
    height: 95%;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 2px solid #ffffff;
    padding: 10px;
    top: 2.5%;
    left: 2.5%;
    background-color: #3B3778;
    }

    .title{
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 15px;
      text-transform: uppercase;
      color: #fff;
    }

    img{
      width: 100%;
    }
  }
}


footer{
  background-color: #000;

  @media (max-width: 767px) {
    .footer-map{
      margin-top: 15px;

      img{
        max-width: 200px !important;
      }
    }
  }

  .lets-connect-wrapper{
    background-color: #000;
    padding: 30px 0;
    border-bottom: 1px solid #ffffff7d;

    .row{
      align-items: center;
    }

    .title{
      font-size: 25px;
      color: #fff;
      margin-bottom: 0;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .dark-button{
      display: inline-block;
      background-color: #000;
  

      svg{
        margin-right: 10px;
      }
    }
  }

  .whatsapp-icon{
    img{
      max-width: 60px;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;

      @media (max-width: 991px) {
        max-width: 40px;
        bottom: 15px;
        right: 15px;
      }
    }
  }

  .main-footer{
    padding: 60px 0;

    img{
      max-width: 150px;
    }

    .title{
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 15px;
      color: #fff;
    }

    ul{
      padding: 0;
      list-style-type: none;

      li{
        
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }

      a{
        text-decoration: none;
        color: #fff;
        transition: all .3s;
        padding-left: 20px;
        position: relative;

        &:hover{
          transform: scale(1.05);
        }

        &::before{
          content: "";
          position: absolute;
          width: 10px;
          height: 3px;
          background-color: #fff;
          left: 0;
          top: 50%;
          margin-top: -3px;
        }
      }
    }

    .contact-item{
      display: flex;
      color: #fff;

      svg{
        margin-right: 15px;
        color: #fff;
      }

      a{
        color: #fff;
        text-decoration: none;
      }

      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
  }

  .contact-text{
    a{
      display: block;
      
      img{
        max-width: 20px;
      }
    }
  }
}

.social-icon-wrapper{
  position: fixed;
  left: 0;
  top: 54%;
  z-index: 999;
  background-color: #fff;
  padding: 5px 5px 15px 5px;

  @media (max-width: 991px) {
    top: auto;
    bottom: 0;
  }

  i{
    font-size: 35px;

    @media (max-width: 991px) {
      font-size: 25px;
    }
  }

  img{
    @media (max-width: 991px) {
      max-width: 25px;
    }
  }

  a{
    text-decoration: none;
    display: block;
    color: #3B3778;

    &:not(:last-child){
      margin-bottom: 10px;
    }

    &:first-child{
      margin-bottom: 15px !important;
    }
  }
}


.banner-wrapper{
  padding: 200px 0 100px 0;
  background-color: #3B3778;

  .title{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    z-index: 99;
    position: relative;
  }

  &.color-solution-wrapper{
    background-image: url(../images/colour-solution.jpeg);
    min-height: 800px;
    background-position: center;
    display: flex;
    align-items: center;

    @media (max-width: 991px) {
      min-height: 400px;
      background-size: cover;
    }
  }

  &.about-wrapper{
    position: relative;
    overflow: hidden;
    min-height: 55vh;
    z-index: 9;

    &::before{
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-image: url(../images/about-bg.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: repeat;
      animation: scale 20s linear infinite;
    }
  }
}


@keyframes scale {
  50% {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
  }
}

.vision-mission-wrapper{
  margin-bottom: 150px;

  @media (max-width: 991px) {
    margin-bottom: 70px;
  }

  .vision-mission-box{
    text-align: center;
    padding: 30px;
    border: 2px solid #000;
    min-height: 350px;

    img{
      max-width: 100px;
      margin: 0 auto;
      display: flex;
    }

    p{
      margin-bottom: 0;
    }

    .title{
      margin-bottom: 15px;
      font-size: 30px;
      font-weight: 600;
    }
  }
}


// Start Gallery CSS

.demo-gallery > ul {
  margin-bottom: 0;
}
.demo-gallery > ul > li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}
.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}
.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}
.home .demo-gallery {
  padding-bottom: 80px;
}


.gallery-wrapper{
  margin: 150px 0;

  @media (max-width: 991px) {
    margin: 70px 0;
  }
}

// End Gallery CSS


.contact-wrapper{
  margin: 150px 0;

  @media (max-width: 991px) {
    margin: 70px 0;
  }


  .form-control{
    padding: 15px;
    border: 1px solid #000;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    margin-bottom: 30px;
  }

  textarea{
    min-height: 227px;
  }

  button{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: fit-content;
  }
}

.thank-you{
  .title{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
  }

  .sub-title{
    font-size: 30px;
    text-align: center;
  }
}

.product-wrapper{
  margin: 150px 0;

  @media (max-width: 991px) {
    margin: 70px 0;
  }

  p, li{
    font-size: 18px;
  }

  li:not(:last-child){
    margin-bottom: 20px;
  }

  .dyes-list{
    margin-top: 80px;

    .dyes-item{
      padding: 10px;
      color: #fff;
      font-size: 18px;
    }
  }

  .col-lg-3{
    margin-bottom: 30px;
  }


  table{
    margin-top: 30px;
    border: 1px solid;

    td{
      border: 1px solid;
      font-weight: bold;
    }
  }

  img{
    max-width: 200px;
  }
}

.video-wrapper{
  video{
    object-fit: cover;
    width: 100%;
    max-height: 100vh;
  }
}

.about-more-wrapper{
  margin: 150px 0;

  @media (max-width: 991px){
    margin: 70px 0;
  }

  video{
    width: 100%;
  }

  img{
    margin-bottom: 15px;
  }

  @media (max-width: 767px){
    video{
      margin-bottom: 30px;
      max-height: 600px;
    }

    img{
      margin-top: 20px;
      width: 100%;
    }
  }
}